{{> head }}
{{> navbar }}
    <div class="col-8">
        <h1>
            Animalitos
        </h1>
    </div>

    <div class="col-4">
        <img src="assets/img/animales.jpg" class="img-thumbnail">
    </div>
{{> footer }}